body {
    background-color: #f5f7fa;
    color: #2c3e50;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #e2867f, #c25851);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
}


nav {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #e2867f;
    text-decoration: none;
    margin: 10px;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #c51616;
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.book-card {
    background-color: #ffffff;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    transition: transform 0.2s;
}

.book-content {
  display: flex;
  align-items: flex-start;
  gap: 80px; 
}

.book-card:hover {
    transform: scale(1.02);
}

.book-card h2 {
    font-size: 1.5rem;
    color: #e2867f;
    margin-bottom: 10px;
}

.book-card p {
    font-size: 1rem;
    color: #555;
}

.boton, button {
    display: inline-block;
    background-color: #e2867f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

.boton:hover, button:hover {
    background-color: #c25851;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #c25851;
    color: white;
    margin-top: 40px;
}

.boton {
    display: inline-block;
    background-color: #c25851;
    color: white;
    padding: 6px 12px;
    font-size: 0.85rem;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.boton:hover {
    transform: scale(1.05);
}

.libro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.info-libro {
    max-width: 70%;
}

.imagenes {
    width: 100px;
    height: 170px;
    margin-left: 1rem;
    border: 3px solid;
    border-radius: 8px;
}

.book-card, .writer-card {
    width: 90%;
    margin: 1rem auto;
}