* {
    margin: 0;
    padding: 0;
}

.pdfview {
    margin: auto;
    display: block;
    width: 850px;
    height: 100vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    background-color: black;
    color: white;
    height: 100vh;
    display: grid;
    align-items: center;
    place-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    width: 1000px;
    font-weight: 600;
}

div {
    padding-top: 5%;
}

span {
    opacity: 0.2;
}

.active {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    background: linear-gradient(to right, #6366f1 0%, #a855f7 33%, #ec4889 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}